@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
body {
  font-family: "맑은 고딕", MalgunGothic, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

.container {
  width: 800px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding-bottom: 500px;
}

.vh {
  height: 100vh;
  background: #eee;
}

p {
  width: 500px;
  border: 5px solid #ccc;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.box {
  width: 250px;
  height: 250px;
  background: #aaa;
  margin-top: 100px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ff55cc;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
}
#myBtn:hover {
  opacity: 0.8;
}
