@import url(./reset11.css);

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  background: darkorchid;
  color: #fff;
}
body {
}
.toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 80px;
  height: 80px;
  background: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  box-shadow: 3.4px 4.7px 9.8px -38px rgba(0, 0, 0, 0.04),
    9.5px 12.9px 19.3px -38px rgba(0, 0, 0, 0.058),
    22.9px 31.1px 32.4px -38px rgba(0, 0, 0, 0.074),
    76px 103px 80px -38px rgba(0, 0, 0, 0.13);
}

.toggle:hover {
  background: aqua;
}

.toggle .ham {
  position: relative;
  width: 50%;
  height: 3px;
  background: #fff;
  transition: 0.5s;
}
.toggle .ham::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: 0.5s;
}
.toggle .ham::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: 0.5s;
}

.toggle.active {
  background: aqua;
}

.toggle.active .ham {
  background: rgba(0, 0, 0, 0);
}
.toggle.active .ham::before {
  top: 0;
  transform: rotate(45deg);
}
.toggle.active .ham::after {
  top: 0;
  transform: rotate(135deg);
}

/* About section */

section {
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  padding: 100px;
  min-height: 100vh;
  /* border: 10px solid #f00; */
}
section.banner {
  position: relative;
  width: 100%;
}
section.banner .imgSidebx {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}

section.banner .imgSidebx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

section.banner .cententBx {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 100px;
}
section.banner .cententBx h5.logoText {
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  padding: 0px 10px;
  letter-spacing: 0px;
}
section.banner .cententBx h5.logoText a {
  color: #fff;
}
section.banner .cententBx h5.logoText:hover {
  background: #666;
  color: #fff;
}
section.banner .cententBx .welcome {
  margin-top: 80px;
}
section.banner .cententBx div h4 {
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
  line-height: 3rem;
}
section.banner .cententBx div h4 span {
  color: aqua;
  font-size: 1.5rem;
  font-weight: 700;
}
section.banner .cententBx div h2 {
  font-size: 3rem;
  color: #333;
  line-height: 3rem;
  /* letter-spacing: -2px; */
}
section.banner .cententBx div p {
  font-size: 1.1rem;
  margin: 20px 0;
  word-wrap: break-word;
  line-height: 2.5rem;
}

.btn {
  background: aqua;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
}

.btn:hover {
  background: #666;
  color: #fff;
}
/* sci */
.sci {
  position: absolute;
  left: 100px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.sci ul {
  display: flex;
}
.sci ul li {
  padding: 5px;
}
.sci ul li a {
  color: #000;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0.5;
}

.sci ul li:hover a {
  /* color: aqua; */
  opacity: 1;
}

.sci ul li a i.fa-brands {
  font-size: 36px;
}

/* ****************************** */
/*              about             */
/* ****************************** */

.about {
  background: #000;
}
.title {
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.title h2 {
  position: relative;
  color: #333;
  font-size: 2rem;
  letter-spacing: -2px;
  margin: 30px 0 50px;
  font-weight: 700;
  color: #000;
}
.title h2::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 4px;
  background: linear-gradient(to right, rgb(90, 200, 228), rgb(7, 192, 69));
}

.title p {
  width: 700px;
  display: inline-block;
  font-weight: 500;
  color: #000;
}

.title.white h2,
.title.white p {
  color: #fff;
}

.about {
  position: relative;
}
.about .content11 {
  display: flex;
  margin-top: 60px;
}

.textBx11 {
  width: 49%;
  min-width: 49%;
  line-height: 2rem;
}
.textBx11 p {
  color: #fff;
  z-index: 10;
  z-index: 9999;
}
.imgBx11 {
  margin-left: 40px;
  display: flex;
}
.imgBx11 img {
  width: 100%;
  min-width: 100%;
  height: auto;
  object-fit: cover;
  /* height: auto; */
}

.content2 {
  /* display: flex;
  justify-content: space-around; */
  margin-top: 60px;
}

/* product */
.product {
  width: 100%;
  overflow: hidden;
}
.productBx {
  width: 33.3%;
  float: left;
  text-align: center;
  margin: 0 auto 20px;
}
.product-group {
  width: 95%;
  margin: 0 auto;
  background: #eee;
  padding-bottom: 30px;
  transition: 0.4s;
  /* background: #f00; */
}
.product-group:hover {
  filter: invert();
}
.productBx img {
  width: 80%;
  margin: 20px;
}
.productBx h2 {
  font-size: 2rem;
}
.productBx p {
  width: 80%;
  margin: 20px auto 0;
}

/* work */
.work {
  width: 100%;
  overflow: hidden;
}
.content2 {
  width: 100%;
}
.workBx {
  /* display: inline-block; */
  width: 33.3%;
  float: left;
  text-align: center;
  margin: 0 auto;
}
.work-group {
  width: 95%;
  height: inherit;
  margin: 0 auto 20px;
  background: #eee;
  position: relative;
}

.work-group img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.textBx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: 0.4s;
}

.textBx h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
}
.workBx h2 {
  font-size: 2rem;
}
.workBx p {
  width: 80%;
  margin: 20px auto 0;
}

.work-group:hover .textBx {
  opacity: 0.8;
}

/* contact */
.contact {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .contactForm {
  position: relative;
  width: 1100px;
  margin-top: 60px;
}

.contact .contactForm .row {
  width: 100%;
  display: flex;
}
.contact .contactForm .row .col50 {
  width: 50%;
  margin: 10px;
}
.contact .contactForm .row input,
.contact .contactForm .row textarea {
  width: 100%;
  padding: 18px;
  border: 0;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 1rem;
  resize: none;
}

.contact .contactForm .row .col100 {
  width: 100%;
  margin: 10px;
  text-align: center;
}

.contact .contactForm .row input[type="submit"] {
  background: aqua;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  max-width: 150px;
}

.contact .contactForm .row .col100 input {
}

footer {
  position: relative;
  background: #111;
}
footer .copyright {
  text-align: center;
}
footer .copyright p {
  padding: 40px;
  color: #fff;
}

/********************************************************/
/* sidebar */
/********************************************************/
.sidebar {
  position: fixed;
  top: 0;
  right: -500%;
  width: calc(100% - 500px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 50;
  transition: 0.5s;
}
.sidebar ul.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar ul.menu li {
}
.sidebar ul.menu li a {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  line-height: 4rem;
  /* margin: 20px 0; */
  font-weight: 600;
  transition: 0.5s;
}
.sidebar ul.menu li:hover a {
  color: aqua;
}
.sidebar.active {
  right: 0px;
}

.topBtn {
  position: fixed;
  right: -120px;
  bottom: 30px;
  background: #666;
  color: #fff;
  padding: 13px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.5s;
}

.topBtn:hover {
  background: aqua;
  color: #fff;
}
.topBtn.active {
  right: 30px;
}

.topBtn i {
  font-size: 26px;
}
/* .bottomBtn {
  position: fixed;
  background: #666;
  color: #fff;
  padding: 7px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.5s;
  top: 200px;
  right: 30px;
}
 */
