/* 반응형 웹
1. 1280이상  
2. 1024-1279
3. 768-1023
4. 480- 767
5. 320-479
6. 320이하 */

/* 1024-1279 */
@media (max-width: 1279px) {
  header {
    width: 100%;
    min-width: 1024px;
  }
  .inner {
    width: 100%;
  }

  .content {
    width: 100%;
    min-width: 1024px;
  }
  footer {
    width: 100%;
    min-width: 1024px;
  }
}
/* 768-1023*/
@media (max-width: 1279px) {
  header {
    width: 100%;
    min-width: 768px;
  }
  .inner {
    width: 100%;
  }

  .logo {
    padding-left: 5px;
  }

  nav {
    padding-right: 5px;
  }

  ul.gnb {
    width: 480px;
  }
  ul.gnb > li {
    width: 25%;
  }

  .content {
    width: 100%;
    min-width: 768px;
  }
  footer {
    width: 100%;
    min-width: 768px;
  }
}
/* 480- 767 */
@media (max-width: 767px) {
  header {
    width: 100%;
    min-width: 480px;
  }
  .inner {
    width: 100%;
  }

  /* 모바일메뉴 등장 */
  nav {
    position: fixed;
    width: 200px;
    height: 100vh;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.15);
    padding-top: 100px;
    padding-right: 0;
    background: rgba(249, 249, 249, 1);
    right: -250px;
    transition: 0.4s;
  }

  nav.active {
    right: 0;
  }

  ul.gnb {
    padding-top: 0px;
    width: 100%;
  }

  ul.gnb > li {
    float: none;
    height: auto;
    position: relative;
    width: 100%;
  }

  ul.gnb > li:hover::after {
    top: 40px;
    transform: translateX(-50%) scaleX(1);
  }

  ul.sub {
    position: relative;
    top: 0px;
    left: 0;
  }

  .icon {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  .trigger {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    top: 45%;
    transition: 0.4s;
  }
  .trigger::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -12px;
    left: 5px;
    width: 100%;
    height: 3px;
    background: #000;
    transition: 0.4s;
  }
  .trigger::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 5px;
    width: 100%;
    height: 3px;
    background: #000;
    transition: 0.4s;
  }

  .trigger.active {
    background: rgba(0, 0, 0, 0);
  }
  .trigger.active::before {
    top: 0;
    transform: rotate(45deg);
  }
  .trigger.active::after {
    top: 0;
    transform: rotate(135deg);
  }

  .content {
    width: 100%;
    min-width: 480px;
  }
  footer {
    width: 100%;
    min-width: 480px;
  }
}
/* 320-479 */
@media (max-width: 479px) {
  /* nav 100 % */
  header {
    width: 100%;
    min-width: 320px;
  }
  .inner {
    width: 100%;
  }
  .logo {
    padding-left: 5px;
  }
  nav {
    width: 100%;
    right: -150%;
    z-index: -1;
  }

  .content {
    width: 100%;
    min-width: 320px;
  }
  footer {
    width: 100%;
    min-width: 320px;
  }
}
/* 320이하 */
@media (max-width: 320px) {
  header {
    width: 100%;
    min-width: 280px;
  }
  .inner {
    width: 100%;
  }

  .content {
    width: 100%;
    min-width: 280px;
  }
  footer {
    width: 100%;
    min-width: 280px;
  }
}
