@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333;
}

/* navigation */

.navigation {
  position: fixed;
  width: 60px;
  height: 100vh;
  background: #80078b;
  overflow: hidden;
  transition: 0.5s;
  color: #fff;
  left: 0;
  top: 0;
}

.navigation:hover,
.navigation.active {
  width: 300px;
  /* background: #80078b; */
}
.navigation ul {
  width: 100%;
}
.navigation ul li {
  height: 60px;
  line-height: 60px;
}

.navigation ul li:hover {
  width: 100%;
  background: #f5066a;
}
.navigation ul li a {
  display: flex;
  color: #fff;
  width: 100%;
  height: 100%;
}
.navigation ul li a span.icon {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.navigation ul li a span.icon i.fa-solid {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
}
.navigation ul li a span.title {
  width: 100%;
  height: 100%;
}

/* 토글버튼 */

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #80078b;
  cursor: pointer;
  z-index: 3;
}
.toggle:hover,
.toggle:active {
  background: #f5066a;
}
.toggle::before {
  content: "\f0c9";
  font-family: fontawesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.toggle.active::before {
  content: "\f00d";
  background: #f5066a;
}

@media (max-width: 767px) {
  .navigation {
    left: -60px;
  }
  .navigation.active {
    left: 0;
    width: 100%;
  }
}
