@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 22px;
}
li {
  list-style: disc;
  padding-left: 2em;
}

.f24 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

ul {
  margin-bottom: 200px;
}
