@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 22px;
  font-family: "nexon", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
}

@font-face {
  font-family: "nexon";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

ul {
  margin-bottom: 200px;
  list-style: none;
}

li {
  padding-left: 2em;
  line-height: 2em;
}

.edu {
  width: 900px;
  margin: 30px auto;
  border: 5px solid #ccc;
  padding: 10px;
}

.f24 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin-top: 50px;
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #111;
}
a:hover {
  color: hotpink;
  font-weight: bold;
}
a:active {
}
