@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #333;
  overflow-y: hidden;
}

.hero {
  width: 100%;
  min-width: 980px;
  /* 중요:  min-width를 주어야 가로스크롤시 흰색공백이 생기지 않는다.  */
  height: 100vh;
  background-image: linear-gradient(
    rgba(176, 177, 176, 0.3),
    rgba(6, 118, 170, 0.3)
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-position: center;
  background-size: auto; */
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

nav .logo {
  width: 100%;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 1.5rem;
  transition: 0.5s;
}

nav ul li a {
  display: block;
  color: #fff;
}

nav ul li a:hover {
  color: #0b93a5;
}

.content {
  text-align: center;
}
.content h1 {
  font-size: 11rem;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.content h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.content a {
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 14px 70px;
}
.content a:hover {
  background: rgba(119, 234, 238, 0.3);
}
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
